@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#nav-links-mobile {
  display: none;
}

.navbarItems {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  background-color: #ffff;
}

.nav-menu {
  @apply grid grid-cols-6 gap-[10px] items-center text-center;
}

.nav-menu li:hover {
  @apply bg-[#01959a] text-white rounded-sm transition-all px-[10px] py-[10px] ease-in-out delay-75;
}

/* Hero Section */
.hero {
  @apply w-[100%] h-[100vh] relative;
}

Img {
  @apply w-[100%] h-[100%] object-cover;
}

.hero-text {
  @apply absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%] text-center w-[100%];
}

.hero-text h1 {
  @apply text-5xl text-white font-bold py-[10px] px-[20px];
}

.hero-text p {
  @apply text-xl sm:text-2xl text-white pb-[32px] sm:pt-[8px] sm:pb-[32px];
}

.hero-text .show {
  @apply py-[10px] px-[18px] sm:py-[16px] sm:px-[32px] rounded-md text-[16px] sm:text-[18px] bg-white font-bold;
}

/* About */
.hero-mid {
  @apply w-[100%] h-[70vh] relative;
}

.hero-mid h1 {
  @apply text-[64px];
}

@media screen and (max-width: 768px) {
  .nav-menu {
    @apply flex flex-col justify-start items-stretch ease-in-out delay-75  w-[100%] h-auto absolute top-0 left-[-100%] opacity-100 pt-[80px] pb-[30px];
  }

  .nav-menu.active {
    @apply left-0 opacity-100 z-[-1]  ease-in-out delay-75;
  }

  .nav-menu li {
    @apply flex justify-center items-center py-[32px];
  }

  .nav-menu li > a {
    @apply text-2xl;
  }

  .nav-menu li:hover {
    @apply bg-[#01959a] text-white rounded-sm transition-all px-[30px] py-[10px] ease-in-out delay-75;
  }

  button {
    @apply hidden;
  }

  #nav-links-mobile {
    @apply block text-center p-[24px] m-auto rounded-sm w-[80%] bg-[#01959a] text-white;
  }

  .menu-icons {
    @apply cursor-pointer;
  }

  /* Ensure hover works for touch devices */
  .nav-menu li:active {
    @apply bg-[#01959a] text-white;
  }
}
